<nav class="navbar navbar-info bg-info mb-5">
    <a href="/list"><img src="/img/Branco.png" width="150px" alt="hoxtak logotipo"></a>

    <a href="/login"><img src="/img/logout_icon_138409.ico" alt=""></a>
    <a href="/list"><img src="/img/clipboard_120835.ico" alt=""></a>

    

</nav>